@use "../abstracts/variables";

footer {
    background-color: variables.$bgColour;
    color: variables.$textColour;
    text-align: center;
}

.footer-some {
    h3 {
        font-variant-caps: small-caps;
    }
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
}