@use '../abstracts/variables';

footer {
  background-color: variables.$bg-colour;
  color: variables.$text-colour;
  margin-top: 2em;
  padding-bottom: 10px;
  text-align: center;
}

.footer-some {
  align-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

.icon {
  display: block;
  height: 2em;
  margin: 0 10px;
  position: relative;
}

.copyright {
  margin-top: 2em;
}
