@use "../abstracts/variables";

header {
    margin: 0px;
    padding: 0px;
    background-color: variables.$bgColour;
    color: variables.$textColour;
}

nav {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    .logo {
        text-decoration: none;
        h1 {
            color: #ff3e00;
            margin: 0;
        }
    }
    
}
