.modal-background {
  background: rgba(0, 0, 0, .7);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
}

.modal {
  align-items: center;
  display: flex;
  // display: inline-block;
  flex-direction: column;
  height: 95vh;
  justify-content: center;
  left: 50%;
  overflow: hidden;
  // opacity: 0;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  // max-height: calc(100vh - 4em);
  // width: calc(100vw - 4em);
  // height: 100%;
  width: 100vw;
  z-index: 2;

  .lb-image-container {
    display: block;
    // width: 100%;
    height: 100%;
    // height: auto;
    // height: 100%;
    position: relative;
    // width: 95vw;
    // width: 90vw;
    @media (max-aspect-ratio: 1/1) {
      height: auto;
      width: 100%;
    }

    .lb-image {
      display: inline-block;
      height: 100%;
      // height: 95vh;
      max-height: calc(100vh - 6em);
      max-width: 95vw;
      // min-height: 100%;
      object-fit: contain;
      width: auto;
      // width: 100%;
      // position: relative;
      // min-width: 100%;
      // top: 50%;
      // transform: translate(-50%, -50%);
      @media (max-aspect-ratio: 1/1) {
        height: auto;
        width: 100%;
      }
    }

    .lb-image-hq {
      display: none;
    }
  }
}

.lb-caption {
  color: #ccc;
  display: block;
  height: 2em;
  // margin: auto;
  margin: 0 auto;
  // width: 80%;
  max-width: 700px;
  padding: 5px 0;
  position: relative;
  text-align: center;
}

.lb-close {
  color: #f1f1f1;
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  right: 5px;
  top: -.3em;
  @media (max-aspect-ratio: 1/1) {
    right: .3em;
    top: -.3em;
  }
}

.lb-close:hover,
.lb-close:focus {
  color: #bbb;
  cursor: pointer;
  text-decoration: none;
}
