@use '../abstracts/variables';
@use '../abstracts/mixins';

$pi-base-width: 100px;

.projects img {
  display: block;
  margin: auto;
  padding: 0;
  position: relative;
  width: 100%;
}

.projects {
  // background-color: rgb(167, 42, 119);
  column-gap: variables.$grid-gap;
  counter-reset: projectItem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: variables.$grid-gap;
  @media (max-width: 640px) {
    gap: variables.$grid-gap-small;
  }
}

@media (max-width: 640px) {
  .projects {
    grid-template-columns: 1fr 1fr;
  }

  .big-wide {
    grid-column-end: span 2 !important;
    grid-row-end: span 2 !important;
  }

  .big-wide,
  .big {
    .img-src {
      // padding-bottom: 62.6%;
    }
  }
}

.default {
  grid-column-end: span 1;
  grid-row-end: span 1;
}

.big {
  grid-column-end: span 2;
  grid-row-end: span 2;
}

.big-wide {
  grid-column-end: span 3;
  grid-row-end: span 2;
}

.project-item {
  // background-color: #2e8b57;
  counter-increment: projectItem;
  cursor: pointer;
  margin: 0;
  padding: 0;

  * {
    pointer-events: none;
  }
    
  h2 {
    @include mixins.h2-size;
    font-family: 'SpaceMono', Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding-left: 0;
    text-align: left;
    text-transform: uppercase;
  }

  h2::before {
    content: counter(projectItem, decimal-leading-zero) ':';
    margin-left: 3px;
    margin-right: .8em;
  }
}

.project-item:hover {
  text-decoration: none;
}   


.img-src {
  @include mixins.img-src-size(1c);
  background-color: #2c2c2c;
  display: block;
  height: 0;
  overflow: hidden;
  // padding-bottom: 62.6%;
  position: relative;
}

.big .img-src {
  @include mixins.img-src-size(2c);
}

.big-wide .img-src {
  @include mixins.img-src-size(3c);
}



// Image styling
.img-src img {
  //height: 100%;
  object-fit: cover;
  vertical-align: bottom;
  width: 100%;
  // display: inline-block;
}

.big .img-src img {
  // height: 100%;
  // max-width: max-content;
}

.big-wide .img-src img {
  @include mixins.img-anchor(null,null,0,null);
  display: block;
  max-width: 100%;
  position: absolute;
}
