$PIBaseWidth: 100px;

.projects img {
    position: relative;
    display: block;
    margin: auto;
    padding: 0;
    width: 100%;
}

.projects {
    counter-reset: projectItem;
    display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        row-gap: 15px;
        column-gap: 15px;
}

.default {
    grid-column-end: span 1;
    grid-row-end: span 1;
}
.big {
    grid-column-end: span 2;
    grid-row-end: span 2;
}

.big-wide {
    grid-column-end: span 3;
    grid-row-end: span 2;
}

.project-item {
    * {
        pointer-events: none;
    }
    counter-increment: projectItem;
    // aspect-ratio: $phi / 1;
    // height: $PIBaseWidth / $phi;
    // height: calc(100% - (1.6vmin + 13px));
    cursor: pointer;
    
    h2 {
        font-family: 'SpaceMono', Georgia, 'Times New Roman', Times, serif;
        font-size: .8vw;
        margin: 0;
        padding-left: 4px;
        margin-bottom: 10px;
        text-align: left;
        text-transform: uppercase;
    }
    h2::before {
        content: counter(projectItem,decimal-leading-zero) " ";
        margin-right: 18px;
    }
}
.project-item:hover {
    text-decoration: none;
}   


.img-src {
    position: relative;
    display: block;
    // height: 100%;
    height: calc(100% - (0.8vw + 15px));
    /* background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
    /* height: 62.6%; */
    // padding-bottom: 62.6%;

    /* background: repeating-linear-gradient(
    -55deg,
    #494949,
    #494949 10px,
    #808080 10px,
    #808080 12px
  ); */
}

.big .img-src {
    // height: calc(100% - (1.6vmin + 13px));
    padding-bottom: 0;
}

.big-wide .img-src {
    // height: calc(100% - (1.6vmin + 13px));
    padding-bottom: 0;
}

@media (max-width: 640px) {
    .projects {
        grid-template-columns: 1fr 1fr;
    }
    .big-wide {
        grid-column-end: span 2;
        grid-row-end: span 2;
    }
    .big-wide, .big {
        .img-src {
            padding-bottom: 62.6%;
        }
    }
}


// Image styling
.img-src img {
    width: 100%;
    object-fit: cover;
    display: inline-block;
}
.big .img-src img {
    height: 100%;
    max-width: max-content;
    object-fit: cover;
}
.big-wide .img-src img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}