@use "../abstracts/variables";

:root::-webkit-scrollbar {
    width: 11px;
}

:root::-webkit-scrollbar-corner {
	display: none;
}
:root::-webkit-scrollbar-button {
	display: none;
}
:root::-webkit-resizer {
	display: none;
}

:root::-webkit-scrollbar-thumb {
    background-color: #262626;
    transition: background-color 2s;
    width: 7px;
	height: 10px;
    /* border: 1px solid #ff0000; */
    border-radius: 10px;
	margin: 2px;
	cursor: grab;
}
:root::-webkit-scrollbar-thumb:window-inactive {
    /* Select the thumb when the browser window isn't in focus */
    background-color: variables.$bg-colour;
    transition: background-color 2s;
}

:root::-webkit-scrollbar-track {
    background-color: variables.$bg-colour;
}

:root {
	scrollbar-width: thin;
}

:root {
	scroll-behavior: smooth;
}

