@use './variables';

@mixin h2-size {
  font-size: variables.$h2-size;

  @media (max-width: 640px) {
    font-size: variables.$h2-size-small;
  }
}

@mixin img-src-size($src-span) {
  @if $src-span == 3c {
    padding-bottom: calc(41.5% + #{variables.$grid-gap} + #{variables.$h2-size});

    @media (max-width: 640px) {
      padding-bottom: calc(62.6% + #{variables.$grid-gap-small} + #{variables.$h2-size-small});
    }
  }
  @else if $src-span == 2c {
    padding-bottom: calc(62.6% + #{variables.$grid-gap} + #{variables.$h2-size});

    @media (max-width: 640px) {
      padding-bottom: calc(62.6% + #{variables.$grid-gap-small} + #{variables.$h2-size-small});
    }
  }  @else if $src-span == 1c {
    padding-bottom: calc(62.6%);
  
    @media (max-width: 640px) {
      padding-bottom: calc(62.6%);
    }
  }
}



@mixin position($v, $d) {
  @if $d == t {
    top: $v;
  } @else if $d == r {
    right: $v;
  } @else if $d == b {
    bottom: $v;
  } @else if $d == l {
    left: $v;
  } @else {
    @error 'Unknown anchor direction and value #{$v $d}.';
  }
}

@mixin img-anchor($t, $r, $b, $l) {
  @if $t {
    @include position(-$t, t);
  } @else if $r {
    @include position(-$r, r);
  } @else if $b {
    @include position(-$b, b);
  } @else if $l {
    @include position(-$l, l);
  } @else {
    @error 'Unknown anchor #{$t $r $b $l}.';
  }
}
