// Math
$phi: 1.6180339887498948482;

// Colours
$main-color: #00ff;
$h1-colour: #ff3e00;
$h2-colour: #a1970a;
$bg-colour: #0c0c0c;
$text-colour: #fff;


$grid-gap: 10px;
$grid-gap-small: 5px;

$h2-size: .8em;
$h2-size-small: .6em;


