@use '../abstracts/variables';

*,
::after,
::before {
  box-sizing: border-box;
}

html,
body {
  height: auto;
  margin: 0;
  min-height: 100vh;
  padding: 0;
  position: relative;
  width: 100%;
}

body {
  background-color: variables.$bg-colour;
  box-sizing: border-box;
  color: #ff00c8;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 8px;
}


label {
  display: block;
}

input,
button,
select,
textarea {
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  margin: 0 0 .5em;
  -webkit-padding: .4em 0;
  padding: .4em;
}

input:disabled {
  color: #ccc;
}

button {
  background-color: #f4f4f4;
  color: #333;
  outline: none;
}

button:disabled {
  color: #999;
}

button:not(:disabled):active {
  background-color: #ddd;
}

button:focus {
  border-color: #666;
}

main {
  background-color: variables.$bg-colour;
  color: variables.$text-colour;
  margin: 0 auto;
  min-height: 100vh;
  padding: 1em;
  text-align: center;
  @media (max-width: 640px) {
    padding: 1em 0;	
  }
}


h1 {
  color: #ff3e00;
  font-size: 4em;
  font-weight: 100;
  text-transform: uppercase;
}

a {
  color: variables.$text-colour;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: variables.$text-colour;
}

small {
  font-style: italic;
  font-weight: bold;
}

hr {
  border: hidden;
  overflow: hidden;
  padding: 0;
}


hr::after {
  color: variables.$text-colour;
  content: '------------------------------------------------------------------------------------------------';
  display: inline-block;
  letter-spacing: 8px; /* Use letter-spacing to increase space between dots*/
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
  width: 90%;
}

@-moz-document url-prefix('') {
  hr::after {
    text-overflow: '';
  }
}
