@font-face {
    font-family: 'SpaceMono';
    src: url('../assets/fonts/SpaceMono-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'SpaceMono';
    src: url('../assets/fonts/SpaceMono-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'LibreBaskerville';
    src: url('../assets/fonts/LibreBaskerville-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: 'GoldenRatio';
    src: url('../assets/fonts/GoldenRatioRegular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}