@font-face {
  font-family: 'SpaceMono';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/SpaceMono-Regular.ttf') format('truetype');
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'SpaceMono';
  font-style: normal;
  font-weight: bold;
  src: url('../assets/fonts/SpaceMono-Bold.ttf') format('truetype');
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'LibreBaskerville';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/LibreBaskerville-Regular.ttf') format('truetype');
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: 'GoldenRatio';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/GoldenRatioRegular.ttf') format('truetype');
  text-rendering: optimizeLegibility;
}
