$main-color: blue;
$h1Colour: #ff3e00;
$h2Colour: #a1970a;
$bgColor: #303030;
$textColour: #ffffff;
$site-width: 1200px;

main {
    color: $textColour;
    text-align: center;
    padding: 1em;
    max-width: 240px;
    margin: 0 auto;
}

h1 {
    color: #ff3e00;
    text-transform: uppercase;
    font-size: 4em;
    font-weight: 100;
}

h2 {
    color: $h2Colour;
}

@media (min-width: 640px) {
    main {
        max-width: none;
    }
}

body {
    background-color: $bgColor;
}

a {
	color: #2080e0;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: #4d8cca;
}

small {
    font-style: italic;
    font-weight: bold;
}